  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
      <mat-toolbar color="primary">
        <span  class="spicer">menu</span>
        <button mat-icon-button
                (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>

      <mat-nav-list>
        <a (click)="sidenav.toggle()"
           routerLink="./listado"
           mat-list-item>
          <span>Listado de heroes</span>
          <mat-icon mat-list-icon>label</mat-icon>
        </a>

        <a (click)="sidenav.toggle()"
           routerLink="./agregar"
           mat-list-item>
          <span>agregar heroes</span>
          <mat-icon mat-list-icon>add</mat-icon>
        </a>

        <a (click)="sidenav.toggle()"
           routerLink="./buscar"
           mat-list-item>
          <span>buscar heroe</span>
          <mat-icon mat-list-icon>search</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>

      <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span class="spicer"></span>

        <button mat-button>logout</button>
      </mat-toolbar>

      <div class="container">
        <router-outlet></router-outlet>
      </div>

  </mat-sidenav-container>

